.Container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.m-0 {
  width: 100px;
  margin: 0;
}

.NButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.BButton {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.Profile {
  width: 90%;
  height: 90%;
}

.Row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin: 10px;
}

.Card30 {
  width: 30%;
  margin: 10px;
  align-self:flex-start;
}

.Card70 {
  width: 70%;
  margin: 10px;
  align-self:flex-start;
}

.Card {
  width: 50%;
  align-self:flex-start;
  min-height: 450px;
  margin: 10px;
}

.island{
  display: flex;
  justify-content: center;
}

.Card100{
  width: 50%;
  margin: 10px;
}

.p-inputnumber input {
  width: 100px;
}

.conversation {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width:100%
}

.agent1Bubble, .agent2Bubble {
  margin: 5px 0;
  padding: 10px;
  border-radius: 15px;
  width:fit-content;
  max-width: 80%;
  min-width:70%;
}

.agent1Bubble {
  align-self: flex-start;
  background-color: #C8A2C880;
}

.agent2Bubble {
  align-self: flex-end;
  background-color: #93E9BE80;
}

.errorBanner {
  border: 1px solid #00000090;
}

.errorBanner .p-dialog-header {
  background-color: #cc000095;
  color:#000000;
}

.errorBanner .p-dialog-content {
  background-color: #FFFFFF;
  color:#000000;
  padding-top:10px;
}

.mb-2 {
  margin-bottom: 5px;
}
